body {
	margin: 0;
	text-align: center;  
	overflow-x: hidden;
	background-color: #22c7fc;
}

#page1 {
	width: 100%;
	background-color: #22c7fc;
	margin: 0px;
	height: 100%;
	overflow: hidden;
}
#page2 {
	width: 100%;
	background-color: #585857;
	margin: 0px;
	height: 100%;
}
#page3 {
	width: 100%;
	background-color: #22c7fc;
	margin: 0px;
	height: 100%;
}
#nav {
	text-align: center;
	margin: 0px;
	padding-bottom: 3.5%;
}
#nav ul {
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	padding: 0;
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13pt;
	margin: 0px;
	
}
#nav a {
	text-decoration: none;
	font-weight: 200;
	color: #0a5771;
	position: relative;
	margin: 0px;
}

#nav a:hover:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    margin: 0px;
}
#nav li {
	display: inline;
	padding: 75px;
	margin: 0px;
}

#scrollDown {
	margin-top: 1.7%;
	text-decoration: none;
}
#scrollDown a {
	text-decoration: none;
}
#scrollDown img {
	height: 14px;
	margin-bottom: 0px;
	}
#scrollDown .text {
	color: #931702;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt; 
	text-decoration: none;
}

#scrollDown .image,
#scrollDown .text {transition: opacity 0.4s ease-in-out;}
#scrollDown .text {top:0; left:0; opacity:0;}

#scrollDown:hover .image {opacity:0;}
#scrollDown:hover .text {opacity:1;}

#page2 h1  {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 40pt;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	margin: 0px;
}
#page3 h1  {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 40pt;
	font-family: "league-gothic",sans-serif;;
	font-weight: 300;
	margin: 0px;
}
#page1 #footer {
        width: 100%;
	background-color: #585857;
	margin: 0px;
	height: 40%;	
}
#page1Spacer {
        width: 100%;
	margin: 0px;
	height: 43%;	
}
#page1 h1 {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 100pt;
	font-family: "league-gothic",sans-serif;
	color: #0a5771;
	font-weight: 300;
	margin: 0px;	
}
#footer #container {
	clear: both;
}
#aboutPar {
	width: 67%;
	margin: auto;
	padding-bottom: 1%;
}
#aboutPar p{
	text-align: justify;
	line-height: 150%;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #ffffff;
	font-size: 13pt;
	margin: 0px;
}
#whoiam {
   position: relative; 
   width: 100%;
   margin: 0px;
   padding-top: 3.7%;
   padding-bottom: 3%;
}
#whoiam h3 {
	position: absolute; 
        width: 100%; 

	font-size: 38pt;
	font-family: "league-gothic",sans-serif;
	color: #585857;
	font-weight: 300;
	margin: 0px;	
}
#whoiam img {
	height: 60px;
	margin: 0px;
	left: 5px;
}
#nav_arrow {
    position: relative;
    background: transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #000;
    border-bottom: none;
    width: 0px;
    height: 0px;
    font-size: 1px;
    margin: 20px 0 0 44px;
    transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    /* Firefox 4 */
    -webkit-transition: margin 0.2s;
    /* Safari and Chrome */
    -o-transition: margin 0.2s;
    /* Opera */
}
}
