body {
	margin: 0;
	text-align: center;  
	overflow-x: hidden;
	background-color: #22c7fc;
}

#page1 {
	width: 100%;
	background-color: #22c7fc;
	margin: 0px;
	height: 100%;
	overflow: hidden;
}
#page2 {
	width: 100%;
	background-color: #585857;
	margin: 0px;
	height: 100%;
	z-index: -1;
}
#page3 {
	width: 100%;
	background-color: #22c7fc;
	margin: 0px;
	height: 100%;
	z-index:1;
}
#contactPage {
        width: 100%;
	background-color: #585857;
	margin: 0px;
	height: 30%;	
}
#nav {
	text-align: center;
	margin: 0px;
	padding-bottom: 3%;
	padding-top: 1.5%;
}
#nav ul {
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	padding: 0;
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14pt;
	margin: 0px;
	
}
#nav a {
	text-decoration: none;
	font-weight: 200;
	color: #0a5771;
	position: relative;
	margin: 0px;
}

#nav a:hover:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    margin: 0px;
}
#nav li {
	display: inline;
	padding: 5%;
	margin: 0px;
}
#icon {

	padding-bottom: 5%;
	margin: 0px;
	/*margin-bottom: 0px;*/
}
#icon img {
        height: 140px;
	margin-bottom: 0px;	
}
#scrollDown {
	text-decoration: none;
}
#scrollDown a {
	text-decoration: none;
}
#scrollDown img {
	height: 55px;
	margin-bottom: 0px;
	}
#scrollDown .text {
	padding-top: 1.5%;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt; 
	text-decoration: none;
}

#scrollDown .image,
#scrollDown .text {transition: opacity 0.4s ease-in-out;}
#scrollDown .text {top:0; left:0; opacity:0;}

#scrollDown:hover .image {opacity:0;}
#scrollDown:hover .text {opacity:1;}

#page2 h1  {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 40pt;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	margin: 0px;
}
#page3 h1  {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 40pt;
	font-family: "league-gothic",sans-serif;;
	font-weight: 300;
	margin: 0px;
}
#page1 #footer {
        width: 100%;
	background-color: #585857;
	margin: 0px;
	height: 40%;	
}
#page1Spacer {
        width: 100%;
	margin: 0px;
	height: 41%;	
}
#page1 h1 {
	font-size: 100pt;
	font-family: "league-gothic",sans-serif;
	color: #0a5771;
	font-weight: 300;
	margin: 0px;	
}
#footer #container {
	clear: both;
}
#aboutPar {
	width: 67%;
	margin: auto;
	padding-bottom: 1%;
}
#aboutPar p{
	text-align: justify;
	line-height: 150%;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #ffffff;
	font-size: 13pt;
	margin: 0px;
}
#whoiam {
   position: relative; 
   width: 100%;
   margin: 0px;
   padding-top: 3.7%;
   padding-bottom: 3%;
}
#whoiam h3 {
	position: absolute; 
        width: 100%; 

	font-size: 38pt;
	font-family: "league-gothic",sans-serif;
	color: #585857;
	font-weight: 300;
	margin: 0px;	
}
#whoiam img {
	height: 60px;  
	margin: 0px;
	left: 5px;
}
#nav_arrow {
    position: relative;
    left: 3.5%;
    top: 9%;
    background: transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 15px solid #585857;
    border-top: none;
    width: 0px;
    height: 0px;
    font-size: 1px;
    transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    /* Firefox 4 */
    -webkit-transition: margin 0.2s;
    /* Safari and Chrome */
    -o-transition: margin 0.2s;
    /* Opera */
}

#mainpage2 img {
padding-top: 3.5%;
height: 90%;
	margin: 0px;
}
#software {
position: relative; 
   width: 100%;
   margin: 0px;
   padding-top: 3.7%;
   padding-bottom: 3%;	
}
#languages {
position: relative; 
   width: 100%;
   margin: 0px;
   padding-top: 3%;
   padding-bottom: 1.5%;
}
#software h3 {
	position: absolute; 
        width: 100%; 
	font-size: 38pt;
	font-family: "league-gothic",sans-serif;
	color: #0a5771;
	font-weight: 300;
	margin: 0px;	
}
#software img {
	height: 60px;
	width: 385px;
	margin: 0px;
	left: 5px;
}
#languages h3 {
	position: absolute; 
        width: 100%; 

	font-size: 38pt;
	font-family: "league-gothic",sans-serif;
	color: #0a5771;
	font-weight: 300;
	margin: 0px;	
}
#languages img {
	height: 60px;
	width: 390px;
	margin: 0px;
	left: 5px;
}
#contactIcon {
	text-decoration: none;
}
#contactIcon a {
	text-decoration: none;
}
#contactIcon img {
	height: 55px;
	margin-bottom: 0px;
	}
#contactIcon .text {
	padding-top: 1%;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt; 
	text-decoration: none;
}
#contactIcon {
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 5%;
}

#contactIcon .image,
#contactIcon .text {transition: opacity 0.4s ease-in-out;}
#contactIcon .text {top:0; left:0; opacity:0;}

#contactIcon:hover .image {opacity:0.2;}
#contactIcon:hover .text {opacity:1;}

table {
  align: center;
  margin: auto;
}
.circles th {
	padding: 2%;
}
#circleText {
  padding-top: 1.5%;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 10pt; 
	text-decoration: none;
}
#bars1, #bars2 {
	float:left;
}
#bars1, #bars2 img {
	height: 40%;
}
#barsWrapper {
	text-align: center;
	width: 70%;
    margin: 0 auto;
}

/*ANIMATIONS STUFF*/
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
}
